//Available colors
$green: #4CAF50;
$dark-green: #388E3C;
$light-green: lighten($green, 15%);
$blue: #2196F3;
$dark-blue: darken($blue, 15%);
$light-blue: lighten($blue, 15%);
$gray: #B6B6B6;


//Site colors
$primary-color: $blue;
$dark-primary-color: $dark-blue;
$light-primary-color: $light-blue;
$secondary-color: $blue;
$body-font-color: #212121;

//Topbar style changes
$topbar-menu-icon-position: left;