@import "variables";
@import "normalize";
@import "foundation/components/grid";
@import "foundation/components/type";
@import "foundation/components/top-bar";
@import "foundation/components/visibility";

.site-heading {
    //color: $primary-color;
}
.page-heading {
    color: $primary-color;
}
.top-bar {
    box-shadow: 0 3px 5px $gray;
}
//Card styles
.card {
    border: 1px solid $gray;
    box-shadow: 3px 3px 5px $gray;
    cursor: pointer;
    margin: 1rem auto;
    overflow: hidden;
    padding: 0.5rem;
    width: 95%;
    @media #{$medium-up} {
        float: left;
        margin: 1rem 0.5rem;
        min-height: rem-calc(214px);
        width: 47%;
        &:after {
            content: " ";
            clear: both;
            display: table;
        }
    }
    @media #{$large-up} {
        width: 31.5%;
    }
}
.card-shadow {
    box-shadow: 5px 5px 8px $gray;
}
.card-heading {
    color: $dark-primary-color;
}
.card-content {
    display: none;
    ul {
        list-style: square outside none;
    }
}
.footer {
    background-color: $oil;
    box-shadow: 0 -3px 5px $gray;
    color: #FFFFFF;
    padding-top: 1.6rem;
}
//Show card content if Javascript is not enabled
.no-js .card-content {
    display: block;
}